run = ["bash", "main.sh"]

entrypoint = "main.sh"

onBoot = "cd ~ && curl -LO https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh && bash Miniconda3-latest-Linux-x86_64.sh -b && source /home/runner/miniconda3/etc/profile.d/conda.sh"
